<li [ngClass]="{'list-group-item': true, 
                'list-group-item-success' : deviceStatus === 'on',
                'list-group-item-danger' :  deviceStatus === 'off'
              }">
  <h4 [ngStyle]="{color: getColor()}">
    appareil works! {{ deviceName }}  --  Status: {{ deviceStatus }}
  </h4>
  <button class="btn-success" (click)="onSwitchOn()" [disabled]="deviceStatus === 'on'">
      Put ON
    </button>
    <button class="btn btn-danger" (click)="onSwitchOff()" [disabled]="deviceStatus === 'off'">
      Set Off
    </button>

</li>