<div class="col-xs-12">
    <h2>Devices</h2>
    <p>Last Update: {{ lastUpdate | async | date: 'y MMMM EEEE d' | uppercase }}</p>
    <ul class="list-group">
      <app-appareil *ngFor="let device of devices; let i = index" 
        [deviceIndex]="i" 
        [deviceName]="device.name" 
        [deviceStatus]="device.status">
      </app-appareil>
    </ul>
    <button class="btn-success" (click)="setOn()">
      Put ON All
    </button>
    <button class="btn btn-danger" (click)="setOff()">
      Set Off All
    </button>
  </div>